:root{
    --color-fondo: #000000;
    --color-texto: #cbc8e6;
    --color-hover: #19004d;
    --color-superficie: #6b9ac868;
    --color-superficie-dos: #b5d1ed68;
    --color-primario: #a26724;
    --color-secundario: #9f6bdb;
    --color-texto-dos: #8cafe8;
    --color-borde: #e0e0e06b;
    --color-sombra: rgba(119, 0, 255, 0.1);
    --fuente-principal: 'Roboto', sans-serif;
    --radio-bordes: 12px;
    --transicion: all 0.3s ease;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fuente-principal);
    line-height: 1.6;
    position: relative;
    isolation: isolate;
    background-color: var(--color-fondo);
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: url('../src/fondo.png');
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    pointer-events: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 0;
}

h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    color: var(--color-texto);
    margin-bottom: 1rem;
    margin-left: 2rem;
}

h2 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    color: var(--color-texto);
    margin-bottom: 1rem;
    margin-left: 2rem;
}

p{
    color: var(--color-texto-dos);
    margin-bottom: 1rem;
    margin-left: 1rem;
}

h3 {
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: var(--color-texto);
    margin-bottom: 1rem;
    margin-left: 1rem;
}

ul {
    list-style: disc;
    padding: 1rem;
    margin-left: 3rem;
    color: var(--color-texto-dos);
}

ul li::marker {
    color: var(--color-primario);
}

.nivel-limite {
    width: 100%;
    background-color: var(--color-borde);
    border-radius: var(--radio-bordes);
    overflow: hidden;
}

[data-nivel] {
    width: var(--nivel);
    background-color: var(--color-primario);
    height: 30px;
    border-radius: var(--radio-bordes);
    color: var(--color-texto);
    text-align: center;
    padding: 0.25rem;
}

span {
    color: var(--color-secundario);
    font-weight: 250;
}

.btn {
    display: inline-block;
    align-self: flex-start;
    width: fit-content;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    background-color: var(--color-primario);
    color: var(--color-texto);
    text-decoration: none;
    border-radius: var(--radio-bordes);
    transition: var(--transicion);
}

figcaption {
    color: var(--color-texto-dos);
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0.5rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.card {
    background-color: var(--color-superficie);
    backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: var(--radio-bordes);
    box-shadow: 0 4px 6px var(--color-sombra);
    transition: var(--transicion);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px var(--color-sombra);
}

.card-header {
    font-size: clamp(1.5rem, 4vw, 2rem);
    color: var(--color-texto);
    margin-bottom: 1rem;
}

.card-title {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    color: var(--color-texto);
    margin-bottom: 0.5rem;
}

.section {
    padding: 1rem 0;
}

.caja {
    background-color: var(--color-superficie);
    backdrop-filter: blur(10px);
    padding: 3rem;
    border-radius: var(--radio-bordes);
    box-shadow: 0 4px 6px var(--color-sombra);
    transition: var(--transicion);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    color: var(--color-texto);
    font-weight: 500;
}

input, textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 2px solid var(--color-borde);
    border-radius: var(--radio-bordes);
    background-color: var(--color-superficie-dos);
    color: var(--color-hover);
    transition: var(--transicion);
    font-size: 0.875rem;
}

input::placeholder, textarea::placeholder {
    color: var(--color-borde);
    font-style: italic;
    font-size: 0.875rem;
}

label {
    display: block;
}

.social-links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.section-title {
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 500;
    color: var(--color-texto);
    letter-spacing: -0.02px;
    border-bottom: 3px solid var(--color-primario);
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    display: inline-block;
}

.site-header {
    background-color: var(--color-superficie);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px var(--color-sombra);
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 1rem 1em;
    text-align: center;
    border-bottom: 5px solid var(--color-borde);
}

.site-footer {
    background-color: var(--color-superficie);
    backdrop-filter: blur(10px);
    box-shadow: 0 -4px 6px var(--color-sombra);
    text-align: center;
    padding: 1rem 1em;
    border-top: 5px solid var(--color-borde);
}

.header-container {
    color: var(--color-superficie);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    max-height: 5px;
    margin: 0 auto;
}

.main_nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-link {
    text-decoration: none;
    color: var(--color-texto);
    font-weight: 450;
    transition: var(--transicion);
    position: relative;
}

.nav-link:hover, .nav-link:focus {
    color: var(--color-hover);
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background-color: var(--color-primario);
    transition: var(--transicion);
}

.nav-link:hover::after, .nav-link:focus::after {
    width: 100%;
    left: 0;
    background-color: var(--color-primario);
}
